name: collab
publish_to: 'none'

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^3.0.3
  go_router: ^17.0.0
  google_fonts: ^6.3.2

dev_dependencies:
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
